<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start"
        [@animacao-painel]="estadoPainel"
        [@animacao-erro]="estadoErro"
        (@animacao-erro.done)="resetErro()"
      >
        <app-cadastro (exibirPainel)="exibirPainel($event)" (erro)="exibirErro()"></app-cadastro>
      </div>  
    </div>
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start"
        [@animacao-painel]="estadoPainel"
        [@animacao-erro]="estadoErro"
        (@animacao-erro.done)="resetErro()"
      >
        <app-login (exibirPainel)="exibirPainel($event)" (erro)="exibirErro()"></app-login>
      </div>
    </ng-template>
  </div>
</div>
